<style>

* {
  box-sizing: border-box;
  text-align: center;

}

h1
{
	color: #1E90FF;
	text-align: center;
}

p{
	color: darkblue;
	clear: right;
	margin: 4px;
}

section {

margin: 0.5%;
border-style: dotted;

text-align: justify;

border-color: #0281F0;
float: left;
border-width: 1px;
}

.se{

	background: #eeeeee;
}
#ps3{
	background: #ffffff;
}

.title{
	color: white;
	margin: 0px;
	margin-bottom: 4px;
	border-color: cyan;
	border-style: solid;
	float: right;
	text-align: center;
	font-size: 20px;
	font-style: bold;


}

#t1{
	background: blue;
}

#t2{
	background: cornflowerblue;
}
#t3{
	background: darkblue;
}

/*desktop*/
@media (min-width: 992px){



section{
width: 31%;
}

#ps3{
    
	
border:none;

padding: 0;

}
#s3{

width: 100%;
margin: auto;




}

}
/*tablet*/
@media (min-width: 768px ) and (max-width: 991px){



section{
width: 47%;
}

#ps3{
    
	width: 100%;
	border:none;

	display: flex;
align-content: center;
align-self: center;
align-items: center;


}
#s3{

margin: auto;

}
.title{

	width: 31%;
}

}


/*phone*/
@media  (max-width: 767px){

.se{
width: 98%;
}

.title{

	width: 31%;
}

#ps3{
    
border: none;
clear: left;
padding: 0;

}
#s3{

width: 100%;
margin: auto;

}

}


</style>